@charset "utf-8";
body 
{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #bbb;
}

header 
{
    background: #8b0000;
    margin: 0;
    text-align: center;
    line-height: 10px;
}

header img{margin: 1rem auto; padding: 0 0; width: 30vw;}
nav{background-color:rgb(63, 17, 1); border-radius: 5px;}
.hide {
    display: flex;
    justify-content: center;
}
.hide li 
{    
    width: 10rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}
li a
{
    
    text-decoration: none;
    color: #ffffff;
    font-family: 'Aref Ruqaa', serif;
}
ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.mainbody
{
    margin: 3em 3em;
}

ul li a:hover{ color: #e93a0f; text-shadow:0 0 0 20px #f36924;}
.active{color: #c5c206; border-radius: 8px;}
#reservepg{
    text-align: center;
    border-bottom: 1px solid gray;
    font-weight: 700;
    }
    /* For the reservation form(some apply to all forms) */
    .reserve fieldset{
        margin: 3rem auto; 
        padding: 1rem;
        border: 1px solid rgb(141, 1, 1);
        border-radius: 10px;
        width: 80vw;
    }
    legend{
        padding: 0 5px 0 5px;
        color: #641401;
        font-size: 18px;
        font-style: oblique;
    }
    .reserve label.info{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: maroon;
        padding-top: 1rem;
    }
    .info input, select{
        -webkit-appearance: none;
        display: flex;
        max-width: 18rem;
        background-color: rgb(220, 255, 255);
        border: 1px solid #2e0101;
        border-radius: 6px;
        padding: .75rem;
        font-size: 17px;
        font-style: italic;
    }
    textarea{
        width: 65vw;
        border: 1px solid #2e0101;
        border-radius: 10px;
        margin: 1rem; 
        padding: 1rem;
        height: 10rem;
        background-color: rgb(220, 255, 255);
        font-size: 18px;
    }
    .reserve input.submitBtn{
        border: none;
        background-color: #9c2c13;
        color: white;
        border-radius: 10rem;
        padding: .60rem 1rem;
        margin: 0 0 1rem 8%;
        width: 90%;
        max-width: 20rem;
        font-size: 16px;
    }
    .reserve input.submitBtn:hover{
        box-shadow:0 0 15px #413f3e;
        cursor: pointer;
    }
    form label input:required{
        border-left: red solid 6px;
        caret-color: red;
        color: red;
    }
    form label input:required:valid{
        border-left: green solid 6px;
        caret-color: #000;
        color: #000;
    }
    /*For the home page*/

    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/payson-utah.jpg");
        height: 45vw;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-bottom-right-radius: .4em;
        border-bottom-left-radius: .4em;
      }
      .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
      
    .hero-text a {
        border: 2rem;
        outline: 0;
        display: inline-block;
        padding: 10px 18px;
        border-radius: 1rem;
        color: #fff;
        font-size: 15px;
        background-color: #641401;
        text-align: center;
        cursor: pointer;
        margin-top: 3px;
        margin-bottom: 5px;
        text-decoration: none;
      }
      .hero-text h1{
          font-size: 30px;
          font-family: 'Fascinate Inline', cursive;
      }
      
    .button:hover{box-shadow: 3px 4px 6px #4d4f55;}
    #homepage-imgs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #homepage-imgs figure img{ width: 70vw;}
    #homepage{
    margin: 1rem auto;
    background-color: #413f3e;
    text-align: center;
    max-width: 25rem;
    padding: 1em;
    color:#fff;
    }
    #homepage a{
    text-decoration: none;
    color: peru;
    }
    #homepage a:hover{
        text-decoration: underline;
    }
    /* FOOTER */
    footer{
        background-color:  #8b0000;
        text-align: center;
        padding: 10px;
        color: #000;
        color: #fff;
        margin-top: 2rem;
    }
    footer a{
        text-decoration: none;
        color: rgb(171, 223, 236)
    }
    footer a:hover{
        text-decoration: underline;
        color: rgb(31, 34, 36);
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
      /* Services*/
      .services{
          margin: 3.5vw;
          padding: 1rem;
          line-height: 1.6rem;
      }
      .services h2{
          color: rgb(63, 56, 56);
          text-decoration: underline;
      }
      .services ul li{
          list-style-type: square;
          font-style: italic;
          color: #000;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
      }
      #newpages{text-align: center}
      #newpages a{
          margin: 2rem 1rem;
          padding: .4rem;
          color: #fff;
          background-color: #641401;
          text-decoration: none;
          border: 1px solid #641401;
          border-radius: 8px;
      }
      #newpages a:hover{
          background-color: #837f1c;
          color: #011220;
      }
      .services-main p{margin: 0 2rem; font-size: 17px;}
      .services-main p #comp-name{ color: #8b0000;}
      .services-main .imp{color: red; padding: 1.5rem;}

/* Missionary Page */
.imgcontainer #figures{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 1px solid rgb(23, 23, 44);
}
figure img{
    margin: 0 .5rem;
    width: 70vw;
    height: auto;
    border-radius: 1rem;
    box-shadow: 5px 7px 15px rgb(42, 42, 99);
}
figcaption{
    margin: 5px 1.5rem;
    margin-bottom: 20px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
figcaption .room-name{
    font-weight: bolder;
    text-decoration: underline;
    color: #8b0000;
    line-height: 3px;
}
.prize{
    color: #0a0158;
    font: bold;
}
.contact-form{
    margin: 1rem;
    margin-bottom: 3em;
    width: 40vw;
}
.services-link{
    margin: 20px 20px;
    font-size: 17px;
    font-weight: bolder;
    color: #000;
}
.services-link a{
    text-decoration: none;
    color: #0a0158;
}
.services-link a:hover{
    text-decoration: underline;
}
.contact-form textarea{
    width: 18rem;
    height: 5rem;
    margin: 1.5em .1rem;
}
.contact-form fieldset {
    border-radius: 10px;
    padding: 3rem;
}
.contact-form input[type=submit]{
    margin: 1rem;
    padding: .9rem;
    background-color: #8b0606;
    border-radius: 1rem;
    cursor: pointer;
}
.contact-form input[type=submit]:hover{
    box-shadow: 4px 5px 15px rgb(53, 50, 50);
}
/* Contact Page */
iframe{
    width: 75vw;
    height: 45vw;
    margin: .3rem;
}
#contact-page a{
color: #9c2c13;
text-decoration: none;
}
.contact-page footer{
display:flex;
}
.contactdi form{
    margin: 1rem auto;
}
/* Temples Page */
.temples{
    background-color: #1e262b;
    display: flex;
    flex-direction: column;
    width: 85vw;
    border-radius: 10px;
    margin: 5px auto;
    padding: .5rem;
    margin-top: 20px;
}
.temples img{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-right: 1em;
    width: 75vw;
    height: 45vw;
    overflow: auto;
}
.temples img:hover{
    box-shadow: 0 0 20px rgb(2, 2, 70);
}
.temples h3{
    color: #dd5330;
    text-decoration: underline;
}
.temples p, li{
    color: #fff;
}
.temple-div{
    margin-bottom: 3rem;
}
#gallery-link a{
background-color: #641401;
padding: 1em;
margin: 2rem;
border-radius: 2rem;
text-decoration: none;
color: #fff;
font-size: 15px;
font-weight: bolder;
}
#gallery-link {
    text-align: center;
}
.temple-div #weatherPara, #weatherPara1, #weatherPara2, #weatherPara3{
    color: aquamarine;
    font-weight: bolder;
    font-style: italic;
}
/* Reception Page */
.hero-image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wedding-reception.jpg");
    height: 45vw;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em;
  }
  .hero-text1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.hero-text1 h1{
    font-size: 40px;
    font-family: 'Fascinate Inline', cursive;
}
#recieve{
    margin: 10px auto;
    text-align: center;
    color: #011220;
    background-color: #837f1c;
    max-width: 80vw;
    padding: 8px;
}
#recieve h3{
    text-decoration: underline;
    color: #1e262b;
    font-style: oblique;
}
#recieve li{
    letter-spacing: .2rem;
    color: moccasin;
    font-family: 'Aref Ruqaa', serif;
    text-align: start;
    list-style-type: square;
    margin-left: 18px;
}

#recieve section label{
    display: block;
    padding: .5rem;
}
#recieve section button{
    background-color: #0a0158;
    border: 1.2px solid #0a0158;
    padding: .4rem;
    width: 6rem;
    margin: 5px 0;
    color: #fff;
    border-radius: 4rem;
    cursor: pointer;
}
#recieve section button:hover{
    box-shadow: 0 0 6px;
}
#recieve #legend{
    color: #861515;
}
#thanks{
    text-align: center;
    margin-bottom: 80vw;
}
.gallery-div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.gallery-div figure img{
    width: 70vw;
    height: 45vw;
}    

/* Reference Page */
#ref{
    border: 5px solid gray;
    background-color: brown;
    max-width: 80vw;
    margin: 10px auto;
}
#ref h1{
    text-align: center;
    border-bottom: 1px solid #000; 
}
#ref ul li{
    list-style-type: disc;
    padding: .5rem;
    margin-left: 2em;
    font-size: 17px;
}
#ref p{
    margin: 15px;
    font-size: 18px;
}
#ref a{
    color: rgb(17, 17, 94);
}
#ref a:hover{
    text-decoration: underline;
}