@charset "utf-8";
body 
{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #bbb;
}

header 
{
    background: #8b0000;
    padding: .5em;
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 10px;
}
header h1{font-family: 'Lobster', cursive;}

header img{float: left; padding:  0 1rem; width: 7vw; height:auto;}
nav{background-color:rgb(63, 17, 1); border-radius: 5px;}
nav button{display: none;}
.hide {
    display: flex;
    justify-content: center;
}
.hide li 
{    
    width: 10rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}
li a
{
    
    text-decoration: none;
    color: #ffffff;
    font-family: 'Aref Ruqaa', serif;
}
ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.mainbody
{
    margin: 3em 3em;
}

ul li a:hover{ color: #e93a0f; text-shadow:0 0 0 20px #f36924;}
.active{color: #c5c206; border-radius: 8px;}
#reservepg{
    text-align: center;
    border-bottom: 1px solid gray;
    font-weight: 700;
    }
    /* For the reservation form(some apply to all forms) */
    .reserve fieldset{
        margin: 3rem auto; 
        padding: 1rem;
        border: 1px solid rgb(141, 1, 1);
        border-radius: 10px;
        width: 80vw;
    }
    legend{
        padding: 0 5px 0 5px;
        color: #641401;
        font-size: 18px;
        font-style: oblique;
    }
    .reserve label.info{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        color: maroon;
        padding-top: 1rem;
    }
    .info input, select{
        -webkit-appearance: none;
        display: flex;
        max-width: 18rem;
        background-color: rgb(220, 255, 255);
        border: 1px solid #2e0101;
        border-radius: 6px;
        padding: .75rem;
        font-size: 17px;
        font-style: italic;
    }
    textarea{
        width: 65vw;
        border: 1px solid #2e0101;
        border-radius: 10px;
        margin: 1rem; 
        padding: 1rem;
        height: 10rem;
        background-color: rgb(220, 255, 255);
        font-size: 18px;
    }
    .reserve input.submitBtn{
        border: none;
        background-color: #9c2c13;
        color: white;
        border-radius: 10rem;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 15%;
        width: 96%;
        max-width: 20rem;
        font-size: 16px;
    }
    .reserve input.submitBtn:hover{
        box-shadow:0 0 15px #413f3e;
    }
    form label input:required{
        border-left: red solid 6px;
        caret-color: red;
        color: red;
    }
    form label input:required:valid{
        border-left: green solid 6px;
        caret-color: #000;
        color: #000;
    }
    /*For the home page*/
    .hero-image{
        width: 90vw;
        height:40px;
        margin: 1rem auto;
    }
    .hero-image img{ width: 90vw; height:auto;}
    .button{
        background-color: #9c2c13;
        border: 1px solid #011220;
        border-radius: 5rem;
        padding: 10px 40px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 3rem;
    }
    #temple-info{
    
    }
    .temple-info img{
    
    }
    
    .button:hover{box-shadow: 3px 4px 6px #4d4f55;}
    /* FOOTER */
    footer{
        background-color:  #8b0000;
        text-align: center;
        padding: 10px;
        color: #000;
        color: #fff;
        margin-top: 2rem;
    }
    footer a{
        text-decoration: none;
        color: rgb(171, 223, 236)
    }
    footer a:hover{
        text-decoration: underline;
        color: rgb(31, 34, 36);
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
      /* Services*/
      .services{
          margin: 3.5vw;
          padding: 1rem;
          line-height: 1.6rem;
      }
      .services h2{
          color: rgb(63, 56, 56);
          text-decoration: underline;
      }
      .services ul li{
          list-style-type: square;
          font-style: italic;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
      }
      #newpages{text-align: center}
      #newpages a{
          margin: 3rem 2rem;
          padding: .7rem;
          color: #fff;
          background-color: #641401;
          text-decoration: none;
          border: 1px solid #641401;
          border-radius: 8px;
      }
      #newpages a:hover{
          background-color: #837f1c;
          color: #011220;
      }
      .services-main p{margin: 0 2rem; font-size: 17px;}
      .services-main p #comp-name{ color: #8b0000;}
      .services-main .imp{color: red; padding: 1.5rem;}

/* Missionary Page */
.imgcontainer #figures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgb(23, 23, 44);
}
figure img{
    margin: 0 .5rem;
    width: 40vw;
    height: auto;
    border-radius: 1rem;
    box-shadow: 5px 7px 15px rgb(42, 42, 99);
}
figcaption{
    margin: 5px 1.5rem;
    margin-bottom: 20px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
figcaption .room-name{
    font-weight: bolder;
    text-decoration: underline;
    color: #8b0000;
    line-height: 3px;
}
.prize{
    color: #0a0158;
    font: bold;
}
.contact-form{
    margin: 1rem;
    width: 40vw;
}
.contact-form textarea{
    width: 18rem;
    height: 5rem;
    margin: 1.5em .1rem;
}
.contact-form fieldset {
    border-radius: 10px;
    padding: 3rem;
}
.contact-form input[type=submit]{
    margin: 1rem;
    padding: .9rem;
    background-color: #8b0606;
    border-radius: 1rem;
    cursor: pointer;
}
.contact-form input[type=submit]:hover{
    box-shadow: 4px 5px 15px rgb(53, 50, 50);
}
/* Contact Page */
.contact-info #address{
    background-color: gray;
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 1rem;
}
.contact-info{
    display: inline-block;
}
/* Temples Page */
.temples{
    background-color: #1e262b;
    display: flex;
    justify-content: space-around;
    width: 85vw;
    border-radius: 10px;
    margin: 5px auto;
    padding: .5rem;
    margin-top: 20px;
}
.temples img{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-right: 1em;
    width: 30vw;
    height: 18vw;
    overflow: auto;
}
.temples img:hover{
    box-shadow: 0 0 20px rgb(2, 2, 70);
}
.temples h3{
    color: #641401;
    border-bottom: 1px solid #641401;
}
.temple-div{
    margin-bottom: 3rem;
}
#gallery-link a{
background-color: #641401;
padding: 1em;
margin: 2rem;
border-radius: 2rem;
text-decoration: none;
color: #fff;
font-size: 15px;
font-weight: bolder;
}
#gallery-link {
    text-align: center;
}